<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to aimlapi!</title>
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/style.css')  }}">
</head>

<body>

    <div class="main-container">
        <div class="left-div">
            <form action="/gen_image" method="post">
                <label for="command-prompt-gen">Enter the text you would like to use to generate an image.</label>
                <br>
                <input type="text" name="command-prompt-txt" id="command-prompt-txt">
                <input type="submit" value="Generate">
            </form>
        </div>
        <div class="right-div">
            {% if image_url %}
            <h2>Generated Image:</h2>
            <img src="{{ image_url }}" alt="Generated Image" style="max-width: 100%; height: auto;">
        {% endif %}
        </div>
    </div>

</body>

</html>